/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 * require elements
*/

@import "variables.css.less";

.navbar-fixed-top {
	
	.navbar-inner {
		background: url('bg.png') transparent;
		.box-shadow(none);

		header {
			margin: 15px 0 10px 0;
			text-align: center;
			text-transform: uppercase;

			h1 {
				color: @clr-dark;
				font-size: 40px;
				line-height: 50px;
				font-weight: normal;
				margin: 0;
			}

			h2 {
				font-size: @fsz-big;
				line-height: @fsz-big;
				font-weight: 200;
				margin: 0;
			}
		}

		nav {
			margin: 0 auto;
			text-align: center;
			background-color: #000;
			overflow: hidden;

			ul {
				list-style-type: none;
				margin: 0;
				display: inline-block;

				&.left {
					float: left;
				}

				&.right {
					float: right;

					a {
						font-size: @fsz-small;
						line-height: 20px;
					}
				}

				li {
					display: inline-block;
					margin: 8px 20px;

					a {
						color: @clr-light;
						font-weight: 100;
						font-family: @custom;
						font-size: @fsz-big;
						line-height: @fsz-big;
						text-transform: uppercase;
						text-decoration: none;

						&.years {
							text-transform: capitalize;
						}
					}
				}
			}
		}
	}
}

.featured {
	overflow: hidden;

	.item {
		position: relative;
		float: left;
		margin-right: 5px;
		margin-bottom: 5px;

		.title {
			background: rgba(0,0,0, 0.6);
			color: @clr-light;
			width: 100%;
			height: 48px;
			position: absolute;
			bottom: 0;
			left: 0;

			&.top{
				top: 0;
			}

			h3 {
				margin: 10px;
				margin-bottom: 16px;
				font-size: @fsz-huge;
				font-weight: 100;
				line-height: @fsz-huge;
				text-transform: uppercase;

				&.left {
					text-align: left;
				}

				&.right {
					text-align: right;
				}

				a {
					color: @clr-light;
					text-decoration: none;
				}
			}
		}

		img {
			width: 100%;
			height: 100%;
		}
		
		&.square.big {
			width: 380px;
			height: 367px;
		}

		&.square.small {
			width: 181px;
			height: 181px;
			
			&.right {
				width: 183px;
			}
		}

		&.rectangle.small {
			width: 368px;
			height: 181px;

			&.right {
				width: 369px;
			}
		}

		&.rectangle.big {
			width: 467px;
			height: 181px;

			&.right {
				width: 468px;
			}
		}

		&.right {
			margin-right: 0;
		}

	}
}

.of-the-day {
	article {
		margin: 0;
		margin-bottom: 10px;
		padding: 0px;

		background-color: #000;
		font-size: @fsz-big;
		color: @clr-light;
		text-transform: uppercase;
		font-weight: 300;

		footer {
			padding: 5px;
		}
	}
}


article.look {
	background: #000;
	color: @clr-light;
	padding: 10px;
	width: 520px;
	margin-bottom: 20px;

	header {
		position: relative;

		img {
			width: 100%;
			height: 100%;
		}
		
		.chic-it {
			background: #000;
			position: absolute;
			bottom: 5px;
			right: 5px;

			text-transform: uppercase;
			font-size: @fsz-big;
			font-weight: 100;
			padding: 25px 10px;
		}
	}
}

section.looks {
	margin-bottom: 20px;

	a {
		display: inline-block;
		width: 90px;
		height: 90px;
		margin-bottom: 5px;
	}
	img {
		width: 100%;
		height: 100%;
	}
}

section.search {
	background: #000;
	padding: 10px;
	color: @clr-light;
	text-transform: uppercase;
	overflow: hidden;


	h3 {
		float: left;
		line-height: 14px;
		margin-right: 10px;
	}
	form {
		float: left;
		margin: 0;

		input.term {
			.border-radius(0);
			height: 12px;
		}

		input.btn {
			.border-radius(0);
			background: #fff;
			padding: 1px 4px;
			margin-top: -8px;
		}
	}
}

section.story {
	background-color: #fff;
	padding: 10px;
	margin-top: -20px;
	position: relative;
	margin-bottom: 40px;

	h2 {
		position: absolute;
		top: 20px;
		left: -20px;
		background: #000;
		color: @clr-light;
		width: 350px;
		padding-left: 50px;
		
		padding-bottom: 8px;
		text-transform: uppercase;
		
	}

	p {
		background-color: #e6e6e6;
		padding: 10px;
		padding-top: 80px;
		margin: 0;
	}
}

section.get-look {
	background-color: #fff;
	padding: 10px;
	margin-top: -20px;
	position: relative;
	margin-bottom: 20px;

	h2 {
		position: absolute;
		top: 20px;
		left: -20px;
		background: #000;
		color: @clr-light;
		width: 350px;
		padding-left: 50px;
		
		padding-bottom: 8px;
		text-transform: uppercase;
	}

	ul.products {
		list-style-type: none;
		background-color: #e6e6e6;
		padding: 10px;
		padding-top: 80px;
		margin: 0;

		li {
			margin-bottom: 10px;
			overflow: hidden;

			aside {
				float: left;
				margin-right: 10px;
				width: 80px;
				height: 80px;

				img {
					width: 100%;
					height: 100%;
				}
			}

			div {
				float: left;
				width: 250px;
	
				header {
					overflow: hidden;
					h3 {
						float: left;
						margin: 0;
						padding: 0;
						text-transform: uppercase;
						font-weight: 400;
						font-size: @fsz-normal;

						&.action {
							float: right;
							font-weight: bold;
						}
					}
				}
				section {
					font-size: @fsz-small;	
					
				}
			}
		}
	}
}


footer#page-footer {
	margin-top: 10px;
	padding: 10px;
	padding-left: 0;
	font-family: @custom;
	font-size: @fsz-small;

	strong {
		font-weight: 800;
	}
	
}


.scroll-pane { overflow: hidden; width: 600px; float:left; }
.scroll-content { width: 2440px; float: left; }
.scroll-content-item { width: 80px; height: 80px; float: left; margin: 10px; font-size: 3em; line-height: 96px; text-align: center; }


* html .scroll-content-item { display: inline; } /* IE6 float double margin bug */


.scroll-bar-wrap { clear: left; padding: 0 4px 0 2px; margin: 0 -1px -1px -1px; }
.scroll-bar-wrap .ui-slider { background: none; border:0; height: 2em; margin: 0 auto;  }
.scroll-bar-wrap .ui-handle-helper-parent { position: relative; width: 100%; height: 100%; margin: 0 auto; }
.scroll-bar-wrap .ui-slider-handle { top:.2em; height: 1.5em; }
.scroll-bar-wrap .ui-slider-handle .ui-icon { margin: -8px auto 0; position: relative; top: 50%; }
